# Enade transformação de dados 1

In [1]:
# importar as bibliotecas
import pandas as pd
import numpy as np
import os

In [2]:
enade = pd.read_csv(
    "./enade2017/3.DADOS/MICRODADOS_ENADE_2017.txt",
    sep = ";", decimal = ","
)

/tmp/ipykernel_4570/3203573452.py:1: DtypeWarning: Columns (29,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  enade = pd.read_csv(

In [6]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I72,QE_I73,QE_I74,QE_I75,QE_I76,QE_I77,QE_I78,QE_I79,QE_I80,QE_I81
0,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,1,1,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# verificando o schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('float64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('float64'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('float64'),
 'TP_PR_GER': dtype('float64'),
 'TP_PR_OB_FG': dtype('float64'),
 'TP_PR_DI_FG': dtype('float64'),
 'TP_PR_OB_CE': dtype('float64'),
 'TP_PR_DI_CE': dtype('float64'),
 'TP_SFG_D1': dtype('float64'),
 'TP_SFG_D2': dtype('float64'),
 'TP_SCE_D1': dtype('float64'),
 'TP_SCE_D2': dtype('float64'),
 'TP_SCE_D3': dtype('float64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64'),
 'QE_I69': dtype('O'),
 'QE_I70': dtype('O'),
 'QE_I71': dtype('O'),
 'QE_I72': dtype('O'),
 'QE_I73': dtype('O'),
 'QE_I74': dtype('O'),
 'QE_I75': dtype('O'),
 'QE_I76': dtype('O'),
 'QE_I77': dtype('O'),
 'QE_I78': dtype('O'),
 'QE_I79': dtype('O'),
 'QE_I80': dtype('O'),
 'QE_I81': dtype('O')}

In [5]:
# NT_GER
enade.NT_GER.describe()

count    449932.000000
mean         43.523969
std          14.080110
min           0.000000
25%          33.400000
50%          42.900000
75%          53.100000
max          98.100000
Name: NT_GER, dtype: float64

In [7]:
# contar o número de nulos
enade.NT_GER.isnull().sum()

87504

In [9]:
enade.shape

(537436, 150)

In [8]:
# quantidade relativa de nulos
enade.NT_GER.isnull().sum() / enade.shape[0]

0.16281752617986142

In [13]:
# Acessando estatísticas descritivas da nota geral
# REGIÃO 2 = NORDESTE; centro oeste = 5
enade.loc[
    enade.CO_REGIAO_CURSO == 5
].NT_GER.describe()

count    33983.000000
mean        42.219242
std         14.034614
min          0.000000
25%         32.100000
50%         41.600000
75%         51.900000
max         92.300000
Name: NT_GER, dtype: float64

In [14]:
# alunos notas > 0
enade.loc[
    enade.NT_GER > 0
].NT_GER.describe()

count    449242.000000
mean         43.590818
std          13.987135
min           0.400000
25%          33.500000
50%          42.900000
75%          53.200000
max          98.100000
Name: NT_GER, dtype: float64

In [15]:
# filtrando apenas alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) &
    (enade.NU_IDADE <= 50)
].shape

(522199, 150)

In [19]:
# tabela cruzada
enade.TP_SEXO.value_counts() / enade.shape[0]

F    0.54352
M    0.45648
Name: TP_SEXO, dtype: float64

In [8]:
# quero comparar as regiões - agregar utilizando uma média

enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  449932.000000  449932.000000  449932.000000
mean       43.523969      51.426510      40.873107
std        14.080110      17.614564      15.484444
min         0.000000       0.000000       0.000000
25%        33.400000      39.400000      29.600000
50%        42.900000      52.300000      40.000000
75%        53.100000      64.000000      51.400000
max        98.100000      99.400000     100.000000

In [22]:
# comparando as médias de Notas para cada região do Brasil
enade.groupby('CO_REGIAO_CURSO').agg({
    "NT_GER": "mean",
    "NT_FG": "mean",
    "NT_CE": "mean"
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                39.985593  48.272035  37.206807
2                42.983184  51.087630  40.265306
3                44.167560  52.229014  41.463713
4                44.143470  51.472935  41.683468
5                42.219242  49.970223  39.618759

# Transformações

In [56]:
enade['DESC_PUBLICA'] = ""
enade.loc[
    enade.CO_CATEGAD.isin([118, 120, 10005, 10006, 10007, 10008, 10009, 17634]),
    "DESC_PUBLICA"
] = "Privado"

In [57]:
enade.loc[
    enade.CO_CATEGAD.isin([93, 115, 116, 10001, 10002, 10003]),
    "DESC_PUBLICA"
] = "Publico"

In [58]:
enade.DESC_PUBLICA.value_counts()

    537436
Name: DESC_PUBLICA, dtype: int64

In [59]:
enade.DESC_PUBLICA.value_counts() / enade.shape[0]

    1.0
Name: DESC_PUBLICA, dtype: float64

In [65]:
# transfomar a modalidade
enade.CO_MODALIDADE.replace({
    0 : 'EaD',
    1 : 'Presencial'
})

0         Centro-Oeste
1         Centro-Oeste
2         Centro-Oeste
3         Centro-Oeste
4         Centro-Oeste
              ...
537431         Sudeste
537432         Sudeste
537433         Sudeste
537434         Sudeste
537435         Sudeste
Name: CO_MODALIDADE, Length: 537436, dtype: object

In [61]:
enade.CO_MODALIDADE.value_counts()

Sudeste         252320
Sul             112789
Nordeste         94526
Centro-Oeste     40093
Norte            37708
Name: CO_MODALIDADE, dtype: int64

In [27]:
# Transforma região
enade["CO_REGIAO_CURSO"] = enade.CO_REGIAO_CURSO.replace({
    1:"Norte",
    2:"Nordeste",
    3:"Sudeste",
    4:"Sul",
    5:"Centro-Oeste"
})

In [28]:
enade.CO_REGIAO_CURSO.value_counts()

Sudeste         252320
Sul             112789
Nordeste         94526
Centro-Oeste     40093
Norte            37708
Name: CO_REGIAO_CURSO, dtype: int64

In [19]:
# Transformando cor raça
enade["DESC_COR"] = enade.QE_I02.replace({
    "A": "Branca",
    "B": "Preta",
    "C": "Amarela",
    "D": "Parda",
    "E": "Indígena",
    "F": pd.NA,
})

In [22]:
dict(enade.DESC_COR.value_counts())

{'Branca': 241871,
 'Parda': 155086,
 'Preta': 44090,
 'Amarela': 11325,
 'Indígena': 1971}

# Algumas perguntas para responder

1 .Qual é a nota geral média dos alunos da região Nordeste?

In [32]:
enade.loc[
    enade.CO_REGIAO_CURSO == "Nordeste",
    "NT_GER"
].mean()

42.98318430451869

2. Qual é média da nota do componente específico do Rio Grande do Sul do curso de engenharia elétrica

In [34]:
enade.loc[
    (enade.CO_UF_CURSO == 43) &
    (enade.CO_GRUPO == 5806),
    "NT_CE"
].mean()

37.10294943820228

3. Qual é a média do componente de formação geral do sexo feminino pardas de MG em cursos de engenharia de produção

In [68]:
enade.loc[
    (enade.TP_SEXO == "F") &
    (enade.DESC_COR == "Parda") &
    (enade.CO_UF_CURSO == 31) &
    (enade.CO_GRUPO == 6208),
    "NT_FG"
].mean()

54.70892531876139